<div class="navbar navbar-default nav-bg">
    <div class="container">

        <div class="navbar-header">
            <button button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" href="#" title="Advay Corporation">
                <img style="max-width:100px; margin-top: -7px;"
                     [src]="companyImage" alt="Advay Corporation">
            </a>
        </div>
        
        <div id="navbar" class="collapse navbar-collapse navbar-responsive-collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a  routerLink="login">Login</a></li>
                <li><a  routerLink="profile">Profile</a></li>
            </ul>
			
		    </div>

    </div>
</div>

