.nav-bg{

    background-color: rgba(255, 255, 255, 0.46);
    border: none
    /* opacity: 0.5;
     */

    /* border-bottom: 1px solid red */

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: none;
}
  
li a{
    text-decoration: none;
    display: block;
    color: #000;
    background-color:none;
   
  
}
  
  /* Change the link color on hover */
li a:hover {
    background-color: #ee6e73;
    color: white;
}

.navbar-default .navbar-collapse {
    border:none;
}

