<div class="container">    
  <div id="loginbox"  class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
      <div class="" >
              <div class="panel-heading">
                  
                  <div class="panel-title text-center sign-in-header"> 
                    Sign in
                  </div>
              </div>     

              <div  class="panel-body">

                      
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-horizontal text-center" role="form" >
                        
                    
                  <div class="overlay">
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                      </div>
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Password is required</div>
                          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                      <div class="form-group">
                          <div class="col-sm-6 col-sm-offset-3">
                          
                            <input id="login-username" formControlName="email" type="email" class="username-input form-control remove-border text-center"  placeholder="Email"  [attr.data-original-title]="hooray"> 
                            <hr class="hr-line">  
                            <input id="login-password" formControlName="password" type="password" class="password-input form-control remove-border text-center"  placeholder="Password" data-toggle="tooltip" title="Hooray!" >  
                                                                 
                          </div>
                        </div>

                        <!-- <div class="form-group">
                          <div class="col-xs-6 col-xs-offset-3">
                            

                              <label class="radio"><span class="text-color">I am a vendor</span>
                                <input type="radio"  name="is_company" required [(ngModel)]="form.user_type" value="1">
                                <span class="checkround"></span>
                              </label>
                              <label class="radio"><span class="text-color">I am a Client</span>
                                <input type="radio" name="is_company" required [(ngModel)]="form.user_type" value="2">
                                <span class="checkround"></span>
                              </label>
                              <label class="radio"><span class="text-color">I am a Client</span>
                                <input type="radio" name="is_company" required [(ngModel)]="form.user_type" value="3">
                                <span class="checkround"></span>
                              </label>
                              
                              
                                    
                          </div>
                        </div> -->
                        
                        <div class="form-group">
                            <div class="col-xs-12 col-xs-offset-3">
                            <button id="btn-login" type="submit" class="btn  btn-sm sign-inbtn col-xs-6" >Sign In  </button>
                            
                            </div>
                        </div>
                        <div class="form-group">
                          <div class="col-xs-12">
                            <a href="#" class="forgot-password" routerLink="/request-password-reset">Forgot password?</a>
                          
                          </div>
                      </div>
                  </div>
                  
                  


                  <div class="form-group">
                    <div class="col-md-12 control">
                        <div >
                          <p class="dont-have-account">Don't have an account!<a href="#" routerLink="/signup" class="signuphere" >
                            Sign Up Here
                          </a></p>   
                          

                          </div>
                      </div>
                  </div>    
                </form>     

              </div>                     
        </div>  
  </div>
        
    </div>