.sign-inbtn{
    background-color:#2e3192;
    color: white
}
.remove-border{
    border: 0px;
}
.overlay{
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.46);
    /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
    padding: 30px;
    border-radius: 5%;

}
.username-input{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #ed1c24;
    background-color: rgba(255, 255, 255, 0);
}

.signuphere{
    text-decoration: none;
    color:#ffffff;
    font-weight: bolder;
}

.password-input{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #ed1c24;
    background-color: rgba(255, 255, 255, 0);
}
.password-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ed1c24;
    opacity: 1; /* Firefox */
}

.password-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #ed1c24;
}

.password-input::-ms-input-placeholder { /* Microsoft Edge */
color: #ed1c24;
}
.username-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ed1c24;
    opacity: 1; /* Firefox */
}

.username-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #ed1c24;
}

.username-input::-ms-input-placeholder { /* Microsoft Edge */
color: #ed1c24;
}
.hr-line{
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0.7px solid #2e3192;
    width: 80%;
    text-align: center;
}
.sign-in-header{
    color: #ffffff;
    font-weight: bold;
}
.forgot-password{
    text-decoration: none;
    color: #ffffff;

}
/* .radio{
    list-style: none;
    text-align: center
} */
/* The radio */
.radio {
 
    display: block;
   position: relative;
   /* padding-left: 30px; */
   /* margin-bottom: 12px; */
   cursor: pointer;
   /* font-size: 20px; */
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none
}

/* Hide the browser's default radio button */
.radio input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
}

/* Create a custom radio button */
.checkround {

   position: absolute;
   top: 10px;
   left: 0px;
   height: 15px;
   width: 15px;
   background-color: #fff ;
   border-color:#ed1c24;
   border-style:solid;
   border-width:2px;
    border-radius: 50%;
}


/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkround {
   background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkround:after {
   content: "";
   position: absolute;
   display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkround:after {
   display: block;
}
.text-color{
    color: #ed1c24;
    font-weight: normal;
    white-space: normal;
}

/* Style the indicator (dot/circle) */
.radio .checkround:after {
    left: 2px;
   top: 2px;
   width: 7px;
   height: 7px;
   border-radius: 50%;
   background:#ed1c24;
   

}

.radio label{
    color: #ed1c24;
    white-space: nowrap;
}

.dont-have-account{
    color: #ffffff;
    /* font-weight: bold; */
}
.invalid-feedback{
    color: #ed1c24;
    background-color: #2e3192
}
@media screen and (max-width: 420px) {
    
    .text-color{
        color: #ed1c24;
        white-space: normal;
        /* font-size: 10px */
    } 
    .checkround {

        position: absolute;
        top: 10px;
        left: 0px;
        height: 8px;
        width: 8px;
        background-color: #fff ;
        border-color:#ed1c24;
        border-style:solid;
        border-width:2px;
         border-radius: 50%;
     }
     .radio .checkround:after {
        left: 1px;
       top: 0px;
       width: 2px;
       height: 4px;
       border-radius: 50%;
       background:#ed1c24;
       
    
    }
    
}


