
    <input type="radio" name="tab" id="tab-1" checked>
    <input type="radio" name="tab" id="tab-2">
    <input type="radio" name="tab" id="tab-3">
    <div class="tabs-wrapper">
      <label for="tab-1" class="label-tab-1">Enterprise</label>
      <label for="tab-3" class="label-tab-3">Vendor</label>
    </div>
    
    <div class="tab tab-1 clearfix">
      <div class="col-md-8 enterprise-t">
        <h2>BOOST YOUR ENTERPRISE PRODUCTIVY</h2>
        <hr>
        <div class="row enterprise-s">
          <div class="col-md-6">
            <h4>Contractual Vehicles</h4>
            <p>Trust Us for fleet of well-maintained LCVs and HCVs for all your intracity logistics needs on different lease models.</p>
          </div>
          <div class="col-md-6">
            <h4>Peak Management</h4>
            <p>Let Us take care of all your peak season requirements with our on-demand fleet.</p>
          </div>
          <!--<div class="col-md-4">
            <h4>Managed Services</h4>
            <p>Experience significant cost savings, improved SLAs and a host of other benefits on freight forwards. Focus on your core business and let us take care of logistics.</p>
          </div>-->
        </div>
        <h2>OUR GROWING NETWORK</h2>
        <hr>
        <div class="row enterprise-t">
          <div class="col-md-6">
            <h1>4</h1>
            <h4>CITIES</h4>
          </div>
          <div class="col-md-6">
            <h1>600+</h1>
            <h4>VEHICLE BASE</h4>
          </div>
        </div>
        <div class="row enterprise-t">
          <div class="col-md-6">
            <h1>100+</h1>
            <h4>DRIVER PARTNER</h4>
          </div>
          <div class="col-md-6">
            <h1>2000+</h1>
            <h4>TRIP PER MONTH</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 well-tbs">
        <h3 class="contact-agileits2" align="center">FOR ENTERPRISES</h3>
        <h5 align="center">For contractual daily vehicle requirements</h5>
        <br/>
        <form action="#" >
          <div class="control-group form-group">
            <div class="controls">
              <div class="select">
                <select name="slct" id="slct">
                  <option selected disabled>Select City</option>
                  <option value="1">Mumbai</option>
                  <option value="2">Delhi</option>
                  <option value="3">Kolkata</option>
                </select>
              </div>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <input type="text" class="form-control" id="name" placeholder="Name" required/>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <input type="text" class="form-control" id="name" placeholder="Company Name" required/>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <input type="tel" class="form-control" id="phone" placeholder="Mobile Number" required/>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <input type="email" class="form-control" id="email" placeholder="Email Address" required/>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <input type="button" class="form-control gts" id="name" value="REGISTER" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="tab tab-3 clearfix">
      <div class="col-md-8 enterprise-t">
        <h2>OUR ADVANTAGE</h2>
        <hr>
        <div class="row enterprise-s">
          <div class="col-md-4">
            <h4>Regular Trips</h4>
            <p>With our growing presence across multiple cities, we always have multiple clients to feed you with trips.</p>
          </div>
          <div class="col-md-4">
            <h4>Better Earning </h4>
            <p>Earn more by partnering with the best! Regular trips can grow your earnings! </p>
          </div>
          <div class="col-md-4">
            <h4>On-Time Payment </h4>
            <p>Be assured to receive all payments on time. </p>
          </div>
        </div>
        <!--<h2>OUR GROWING NETWORK</h2>
        <hr>
        <div class="row enterprise-t">
          <div class="col-md-6">
            <h1>4</h1>
            <h4>CITIES</h4>
          </div>
          <div class="col-md-6">
            <h1>600+</h1>
            <h4>VEHICLE BASE</h4>
          </div>
        </div>
        <div class="row enterprise-t">
          <div class="col-md-6">
            <h1>100+</h1>
            <h4>DRIVER PARTNER</h4>
          </div>
          <div class="col-md-6">
            <h1>2000+</h1>
            <h4>TRIP PER MONTH</h4>
          </div>
        </div>-->
      </div>
      <div class="col-md-4 well-tbs">
        <h3 class="contact-agileits2" align="center">REGISTER NOW </h3>
        <br/>
        <form action="#" method="post">
          <div class="control-group form-group">
            <div class="controls">
              <div class="select">
                <select name="slct" id="slct">
                  <option selected disabled>Select City</option>
                  <option value="1">Mumbai</option>
                  <option value="2">Delhi</option>
                  <option value="3">Kolkata</option>
                </select>
              </div>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <input type="text" class="form-control" id="name" placeholder="Name" required/>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <input type="tel" class="form-control" id="phone" placeholder="Mobile Number" required/>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <div class="select">
                <select name="slct" id="slct">
                  <option selected disabled>Select Vehicle</option>
                  <option value="1">Tata Ace</option>
                  <option value="2">Tata 407</option>
                  <option value="3">Pickup/8FT</option>
                  <option value="4">Others</option>
                </select>
              </div>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <input type="button" class="form-control gts" id="name" value="REGISTER" />
            </div>
          </div>
        </form>
      </div>
    </div>
 